* {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    user-select: none;
    font-size: 1em;
    font-family: Roboto;
}
html, body {
    background: url(test.jpg) 50% no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    margin: 0;
    transition: background 1s; 
}
div {
    display: flex;
}
.controls {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: opacity .3s;
    flex-direction: column;
}
.left {
    width: 5em;
    height: 5em;
    background: url(left.svg) 50% no-repeat;
    background-size: 25%;
    opacity: .3;
    cursor: pointer;
    transition: opacity .3s;
}
.left:hover {
    opacity: .7;
}
.right {
    width: 5em;
    height: 5em;
    background: url(left.svg) 50% no-repeat;
    background-size: 25%;
    opacity: .3;
    cursor: pointer;
    transition: opacity .3s;
    transform: rotate(180deg);
}
.right:hover {
    opacity: .7;
}
.pause {
    width: 5em;
    height: 5em;
    background: url(pause.svg) 50% no-repeat;
    background-size: 25%;
    opacity: .3;
    cursor: pointer;
    transition: all .3s;
}
.pause:hover {
    opacity: .7;
}
.visible {
    opacity: 1;
}
.tracks {
    width: 30em;
    overflow: hidden;
    flex-direction: row;
    color: white;
}
.track {
    width: 25em;
    min-width: 25em;
    max-width: 25em;
    flex-shrink: 0;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    opacity: .3;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: opacity .3s;
}
.track:hover {
    opacity: .7;
}
.wrap {
    transition: transform .3s;
}
.author {
    color: rgba(255, 255, 255, .3);
    font-size: 1.2em;
    position: absolute;
    bottom: 1em;
}
.author > a {
    margin-left: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    opacity: .3;
}
.author > a:hover {
    text-decoration: underline;
    opacity: .7;
}